examples/Coordinate Transformation.json
[
    {
        "id": "7f5988aa.5ca2c8",
        "type": "tab",
        "label": "Coordinate Transformation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "75622f77.1c96e",
        "type": "inject",
        "z": "7f5988aa.5ca2c8",
        "name": "Nelson's Column WGS84",
        "topic": "",
        "payload": "{\"lat\":51.507747,\"lon\":-0.12793738}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "f707ed74.7f65f"
            ]
        ]
    },
    {
        "id": "385ed265.92829e",
        "type": "debug",
        "z": "7f5988aa.5ca2c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "f707ed74.7f65f",
        "type": "proj4",
        "z": "7f5988aa.5ca2c8",
        "name": "WGS84 to OSGB",
        "select": "epsg_code",
        "firstProjection": "EPSG:4326",
        "secondProjection": "EPSG:27700",
        "firstCRS": "",
        "secondCRS": "",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "385ed265.92829e"
            ]
        ]
    },
    {
        "id": "447f4317.07b7dc",
        "type": "inject",
        "z": "7f5988aa.5ca2c8",
        "name": "Nelson's Column OSGB",
        "topic": "",
        "payload": "{\"eastings\":530018, \"northings\":180418}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "623ec35b.3f409c"
            ]
        ]
    },
    {
        "id": "cc135748.d7db78",
        "type": "inject",
        "z": "7f5988aa.5ca2c8",
        "name": "Dublin Spire Irish Grid",
        "topic": "",
        "payload": "{\"eastings\":315888,\"northings\":234674}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "1edf7705.495649"
            ]
        ]
    },
    {
        "id": "37d4c15.1cb9b3e",
        "type": "inject",
        "z": "7f5988aa.5ca2c8",
        "name": "Dublin Spire WGS84",
        "topic": "",
        "payload": "{\"latitude\":53.349812,\"longitude\":-6.260263}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "4ce6fe5b.fd9c5",
                "224c941a.07302c"
            ]
        ]
    },
    {
        "id": "623ec35b.3f409c",
        "type": "proj4",
        "z": "7f5988aa.5ca2c8",
        "name": "OSGB to WGS84",
        "select": "epsg_code",
        "firstProjection": "EPSG:27700",
        "secondProjection": "EPSG:4326",
        "firstCRS": "",
        "secondCRS": "",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "385ed265.92829e"
            ]
        ]
    },
    {
        "id": "4ce6fe5b.fd9c5",
        "type": "proj4",
        "z": "7f5988aa.5ca2c8",
        "name": "WGS84 to ITM",
        "select": "epsg_code",
        "firstProjection": "EPSG:4326",
        "secondProjection": "EPSG:2157",
        "firstCRS": "",
        "secondCRS": "",
        "x": 400,
        "y": 340,
        "wires": [
            [
                "385ed265.92829e"
            ]
        ]
    },
    {
        "id": "224c941a.07302c",
        "type": "proj4",
        "z": "7f5988aa.5ca2c8",
        "name": "WGS84 to Irish Grid",
        "select": "epsg_code",
        "firstProjection": "EPSG:4326",
        "secondProjection": "EPSG:29903",
        "firstCRS": "",
        "secondCRS": "",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "385ed265.92829e"
            ]
        ]
    },
    {
        "id": "bea7b7a0.5d2db8",
        "type": "proj4",
        "z": "7f5988aa.5ca2c8",
        "name": "ITM to WGS84",
        "select": "epsg_code",
        "firstProjection": "EPSG:2157",
        "secondProjection": "EPSG:4326",
        "firstCRS": "",
        "secondCRS": "",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "385ed265.92829e"
            ]
        ]
    },
    {
        "id": "1edf7705.495649",
        "type": "proj4",
        "z": "7f5988aa.5ca2c8",
        "name": "Irish Grid to WGS84",
        "select": "epsg_code",
        "firstProjection": "EPSG:29903",
        "secondProjection": "EPSG:4326",
        "firstCRS": "",
        "secondCRS": "",
        "x": 420,
        "y": 460,
        "wires": [
            [
                "385ed265.92829e"
            ]
        ]
    },
    {
        "id": "423669c5.5bbc48",
        "type": "inject",
        "z": "7f5988aa.5ca2c8",
        "name": "Array Object [x,y]",
        "topic": "",
        "payload": "[-0.12793738,51.507747]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "d0fb3718.531438"
            ]
        ]
    },
    {
        "id": "d0fb3718.531438",
        "type": "proj4",
        "z": "7f5988aa.5ca2c8",
        "name": "",
        "select": "epsg_code",
        "firstProjection": "EPSG:4326",
        "secondProjection": "EPSG:27700",
        "firstCRS": "",
        "secondCRS": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "385ed265.92829e"
            ]
        ]
    },
    {
        "id": "963d2c0a.4a39d",
        "type": "inject",
        "z": "7f5988aa.5ca2c8",
        "name": "JSON Object {x:x,y:y}",
        "topic": "",
        "payload": "{\"x\":-0.12793738,\"y\":51.507747}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "d0fb3718.531438"
            ]
        ]
    },
    {
        "id": "5a84f439.2b13dc",
        "type": "inject",
        "z": "7f5988aa.5ca2c8",
        "name": "JSON Object {abc:abc,x:x,y:y}",
        "topic": "",
        "payload": "{\"Place\":\"Nelson's Column\",\"x\":-0.12793738,\"y\":51.507747}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "d0fb3718.531438"
            ]
        ]
    },
    {
        "id": "25dec9d3.a91086",
        "type": "inject",
        "z": "7f5988aa.5ca2c8",
        "name": "Dublin Spire ITM",
        "topic": "",
        "payload": "{\"eastings\":715829,\"northings\":734698}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "bea7b7a0.5d2db8"
            ]
        ]
    },
    {
        "id": "e1d7b33d.398b3",
        "type": "proj4",
        "z": "7f5988aa.5ca2c8",
        "name": "Proj / WKT String Processing",
        "select": "crs_string",
        "firstProjection": "EPSG:4326",
        "secondProjection": "EPSG:27700",
        "firstCRS": "PROJCS[\"NAD83 / Massachusetts Mainland\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.257222101,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0,AUTHORITY[\"EPSG\",\"8901\"]],UNIT[\"degree\",0.01745329251994328,AUTHORITY[\"EPSG\",\"9122\"]],AUTHORITY[\"EPSG\",\"4269\"]],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]],PROJECTION[\"Lambert_Conformal_Conic_2SP\"],PARAMETER[\"standard_parallel_1\",42.68333333333333],PARAMETER[\"standard_parallel_2\",41.71666666666667],PARAMETER[\"latitude_of_origin\",41],PARAMETER[\"central_meridian\",-71.5],PARAMETER[\"false_easting\",200000],PARAMETER[\"false_northing\",750000],AUTHORITY[\"EPSG\",\"26986\"],AXIS[\"X\",EAST],AXIS[\"Y\",NORTH]]",
        "secondCRS": "+proj=gnom +lat_0=90 +lon_0=0 +x_0=6300000 +y_0=6300000 +ellps=WGS84 +datum=WGS84 +units=m +no_defs",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "385ed265.92829e"
            ]
        ]
    },
    {
        "id": "96b65ca5.e7d28",
        "type": "inject",
        "z": "7f5988aa.5ca2c8",
        "name": "Array Object [x,y]",
        "topic": "",
        "payload": "[-122.305887, 58.9465872]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "e1d7b33d.398b3"
            ]
        ]
    }
]